@media (max-width: 480px)
{
 .low{
  top: 50px;
left: 0px;
margin-top: 400px;
margin-right: 150px;
}
#button3{color:black;
background: transparent;
border: 2px solid black;
border-radius: 12px;
font-size: 15px;
padding: 20px 10px 20px 10px;
margin-left: 80px;
margin-top: 80px;
margin-bottom: 25px;}

#remove{
padding-left: 0px;}


}

@media (min-width : 480px) and (max-width: 540px)
{
  .low{
 top: 50px;
left: 0px;
margin-top: 400px;
margin-right: 250px;
}
#remove{
padding-left: 0px;}

}
@media (min-width : 541px) and (max-width: 768px)
{
 .low{
 top: 50px;
left: 0px;
margin-top: 400px;
margin-right: 350px;}
#remove{
padding-left: 0px;}

}
@media (min-width : 769px) and (max-width: 1240px)
{
  .low{
  top: 50px;
left: 0px;
margin-top: 400px;
margin-right: 400px;}
#remove{
padding-left: 0px;}

}
